<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<script src="http://use.typekit.com/kbu3ufo.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="http://embedtweet.com/javascripts/embed_v2.js"></script>
<!-- <script src="//platform.twitter.com/widgets.js"></script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ root_url }}/javascripts/octoli.js"></script> -->