article {
  overflow: hidden;
  padding-top: 1em;
  a { @extend .force-wrap; }
  header {
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: $img-border bottom left repeat-x;
    h1 {
      margin: 0;
      a { text-decoration: none;
        &:hover { text-decoration: underline; } }
    }
    p {
      font-size: .9em;
      color: $text-color-light;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
        position: absolute; top: 0;
      }
    }
    @media only screen and (min-width: 768px) {
      margin-bottom: 1.5em;
      padding-bottom: 1em;
      background: $img-border bottom left repeat-x;
    }
  }
  h2 {
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    padding-bottom: 2.5em;
    margin-top: 2em;
    @extend .sans;
    p.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}
article + article {
  .blog-index & {
    background: $img-border top left repeat-x;
  }
}
#content .blog-index {
  padding: { top: 0; bottom: 0; }
  article { padding-top: 2em; }
  article header { background: none; padding-bottom: 0; }
  article h1 {
    font-size: 2.2em;
    a { color: inherit; &:hover { color: $link-color-hover; } }
  }
  a[rel=full-article] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #4D6917;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8aa550), color-stop(100%, #4d6917));
    background-image: -webkit-linear-gradient(#8aa550, #4d6917);
    background-image: -moz-linear-gradient(#8aa550, #4d6917);
    background-image: -o-linear-gradient(#8aa550, #4d6917);
    background-image: -ms-linear-gradient(#8aa550, #4d6917);
    background-image: linear-gradient(#8aa550, #4d6917);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset;
    opacity: 0.85;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    @extend .sans;
    @include transition(background-color .5s);
    &:hover {
      opacity: 1;
      -moz-transition: box-shadow 0.1s ease-out;
      -webkit-transition: box-shadow 0.1s ease-out;
      -o-transition: box-shadow 0.1s ease-out;
      transition: box-shadow 0.1s ease-out;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset, rgba(255, 255, 255, 0.2) 0 4px 10px inset;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset, rgba(255, 255, 255, 0.2) 0 4px 10px inset;
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset, rgba(255, 255, 255, 0.2) 0 4px 10px inset;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4) 0px 1px 2px inset, rgba(255, 255, 255, 0.2) 0 4px 10px inset;
    }
    &:active {
      opacity: 1;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #738a42), color-stop(100%, #476015));
      background-image: -webkit-linear-gradient(#738a42, #476015);
      background-image: -moz-linear-gradient(#738a42, #476015);
      background-image: -o-linear-gradient(#738a42, #476015);
      background-image: -ms-linear-gradient(#738a42, #476015);
      background-image: linear-gradient(#738a42, #476015);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.9) inset;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.9) inset;
      -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.9) inset;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.9) inset;
    }
  }
  footer {
    @extend .sans;
    margin-top: 1em;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content nav[role=pagination] {
  text-align: center;
  font-size: .95em;
  div {
    position: relative;
    background: $img-border top left repeat-x;
    padding: {top: 1.5em; bottom: 1.5em;}
  }
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}
